[submodule "frontend"]
	path = frontend
	url = https://github.com/VictorQueiroz/Movie-Search-Challenge-Front-End
[submodule "backend"]
	path = backend
	url = https://github.com/VictorQueiroz/Movie-Search-Challenge-Back-End
